---
kustomize:
  ## Human friendly description (optional)
  description: ""
  ## The feature name used for enablement (required)
  ## Clusters enable the addon by setting label `enable_<feature>: "true"`.
  feature: <FEATURE>
  ## The location of an external kustomize repository (optional)
  repository: URL
  ## The revision of the external repository (optional)
  revision: BRANCH|TAG
  ## The path to the kustomize overlay (required)
  path: base
  ## Optional patches to apply to the kustomize overlay (optional)
  patches:
    - target:
        kind: <KIND>
        name: <NAME>
      patch:
        - op: replace
          path: /<PATH>
          key: <KEY>
          default: <DEFAULT>
          # This will prefix the value from `default` and `key`
          prefix: <OPTIONAL_PREFIX_TO_VALUE>

  ## A collection of common labels to apply (optional)
  commonLabels:
    test: one
  ## A collection of common annotations (optional)
  commonAnnotations:
    test: one

## The namespace options (required)
namespace:
  ## The name of the namespace to deploy the application (required)
  name: kube-system

## Synchronization options (optional)
sync:
  ## How to order the deployment of the resources (optional)
  phase: primary
  ## Allows to control the sync wave
  wave: NUMBER
